@import url('https://fonts.googleapis.com/css2?family=Italiana&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Italiana&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;1,100;1,200;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Italiana&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;1,100;1,200;1,300;1,400;1,500;1,700&family=Risque&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    /* overflow-x: hidden; */
}

div {
    box-sizing: border-box;

}

.top-header-div {
    /* background: #ff0000; */
    height: 70px !important;
    color: #ff0000;
}

.site-name {
    font-family: 'Italiana', sans-serif;
    font-size: 50px;
    color: #ff0000;

}

@media only screen and (max-width: 600px) {
    .site-name {
        font-size: 40px;
    }
}


btn:focus,
a:focus {
    outline: none;
}

.navbar-toggler:focus {
    outline: none !important;
    box-shadow: none;
    border: none;
}

.navbar {
    background-color: #ff0000 !important;
    color: white;
}

.navbar a {
    text-decoration: none !important;
}

.nav-item {
    font-size: larger;
}

@media only screen and (max-width: 768px) {
    .nav-item {
        padding-bottom: 20px;
    }
}

@media only screen and (max-width: 600px) {
    .nav-item {
        font-size: medium;
        padding-bottom: 10px;
    }
}

.cart {
    cursor: pointer;
    /* Making the cart clickable */
}

.cart:hover {
    background-color: #9f1919;
    /* Changing background color on hover */
}

/* Adding some padding to the link to make it more clickable */
.cart a {
    padding: 10px;
}

.carousel-div {
    width: 100%;
    height: 650px;
    /* Set the height */
    overflow: hidden;
    /* Hide overflow content */
}

.carousel-inner {
    width: 100%;
    height: 100%;
    /* Make the carousel items fill the height */
}

.carousel-item img {
    width: 100%;
    height: 100%;
    /* Make the images fill the carousel */
    object-fit: cover;
    /* Cover the whole area with the image */
}

@media only screen and (max-width: 600px) {
    .carousel-div {
        width: 100%;
        height: 200px;
        /* Set the height */
        overflow: hidden;
        /* Hide overflow content */
    }

}

.con1-txt {
    font-family: 'Italiana', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-size: 70px;
}

.text-30 {
    font-size: 30px;
}

.text-20 {
    font-size: 20px;
}

.text-red {
    color: #ff0000;
}

.signinDiv {
    width: 100px;
    height: 45px;
    background-color: #ff0000;
    border: 2px solid #ff0000;
    border-radius: 50px 0 0 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 20px;


}

.signinDiv a {
    text-decoration: none;
    color: white;
}

.registerDiv {
    width: 100px;
    height: 45px;
    background-color: #ffffff;
    border: 2px solid #ff0000;
    border-radius: 0 50px 50px 0;
    display: flex;
    justify-content: center;
    align-items: center !important;
    color: #ff0000;
    font-size: 20px;


}

.registerDiv a {
    text-decoration: none;
    color: #ff0000;
}

.card1 {
    height: 350px;
    margin-bottom: 40px;
}

.img1 {
    height: 185px;
}

.section-bg-menu {

    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.7) 0 100%), url(assets/img/home_page/background-section-menu.png);
    /* background-image:url('/img/home_page/background-section-menu.png'); */
}

.section-bg-menu .btn {
    border-radius: 5px;
}

.specialOfferdiv {
    background-color: black;
}

.offer-txt {
    font-family: 'Italiana', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Risque', serif;
    font-size: 150px;
    color: white;
}

.offer-btn {

    background-color: #ff0000;

    border-radius: 50px;

    width: 350px;
}

.offer-btn {
    color: white;
    font-family: 'Italiana', sans-serif;
    font-size: 45px;
}

.offer-div {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url(assets/img/home_page/offer_image.jpg);

}

@media only screen and (max-width: 600px) {

    .offer-txt {
        font-size: 100px;
        color: white;
    }

    .offer-div {
        display: none;
    }

    .offer-btn {
        font-size: 30px;
    }

    .specialOfferdiv {
        position: relative;
        /* filter: brightness(50%); */
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        background-image: url(assets/img/home_page/offer_image.jpg);

    }

    .specialOfferdiv::before {
        content: '';
        /* Required for pseudo-elements */
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, .5);
        /* Adjust the opacity here */
    }

    .offer-text-div {
        position: relative;
        /* Ensure text div stays on top */
        z-index: 1;
        /* Ensure text div stays on top */
        /* Your styles for the text div here */
    }

}


#footerSection {
    background-color: black;

}

.snamefooter {
    font-size: 40px !important;
}

ul {
    list-style: none;

}

@media only screen and (max-width: 770px) {

    ul li {
        display: inline;
        /* display: flex; */
        padding: 10px;
        justify-content: space-between;

    }
}


#cartsmall {

    z-index: 11111;
    background-color: rgb(255, 255, 255);
    height: 60px;
    width: 60px;
    border-radius: 50px;

    position: fixed;
    bottom: 70px;
    right: 20px;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.088);

}

@media only screen and (min-width: 600px) {

    #cartsmall {
        display: none !important;
    }
}


.fa-shopping-bag {
    font-size: xx-large;
    color: #ff0000;
}

.menu-bg {
    background-color: #eaeaea;
}

.creason__info {
    border: 2px solid #4d4d4d98;

}

.menu-bg a {
    text-decoration: none;
}

.sticky {
    position: sticky;
    top: 170px;
    /* height: 100dvb; */
}


.searchIcon {
    background: red;
}

.categorylist {
    background-color: #ffffff;
}

.categorylist a {
    color: black;
}

.searchMenu input:focus {
    border-color: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;


}
.card-title{
    font-weight: 600;
    font-size: 20px;
}
.card-text,.font-thin{
    font-weight: 100;
}
.font-semibold{
    font-weight: 600;
}
.text-20{
    font-size: 20px;
}

.contat-div{
    width: 400px;
    height: 100px;
    background-color: rgba(226, 226, 226, 0.192);
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 45px 0px;
}

#contactPage .mainDiv a{
    text-decoration: none;
    color: black;
}

#contactPage hr{
   margin: 0;
}

.div-2{
    margin-left: 200px;
}